.admin-Container {
  background-color: #121212;
  color: #ecf0f1;
  display: flex;
  min-height: 100vh; /* Ensure it takes the full height */
}

.admin-content {
  flex-grow: 1;
  margin: 5% 15%;
  margin-right: 5%;
}
